/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

/* DEFINE VARIABLES */
:root {
  /* CHOSEN DESIGN COLORS */
  /* Light Theme */
  --c-light-periwrinkle: hsl(240, 100%, 86%);
  --c-light-tropicalindigo: hsl(249, 100%, 75%);
  --c-light-ghostwhite: hsl(248, 100%, 98%);
  --c-light-peach: hsl(36, 100%, 67%);
  --c-light-peach-light: hsl(36, 100%, 90%);
  --c-light-tiffanyblue: hsl(170, 64%, 69%);
  --c-light-brightpink: hsl(349, 100%, 69%);
  --c-light-text: hsl(0, 0%, 0%);

  /* Dark Theme? */
  --c-dark: hsl(249, 68%, 29%);

  /* COLOR NAMES TO BE USED IN THE CSS DOCUMENT - LIGHT THEME */
  --c-accent-bg: var(--c-light-peach);
  --c-accent-text: var(--c-light-text);
  --c-bg: var(--c-light-ghostwhite);
  --c-button-border: var(--c-light-peach-light);
  --c-button-face: var(--c-light-peach); /* button background */
  --c-button-text: var(--c-light-text);
  --c-canvas-primary: var(--c-light-tropicalindigo);

  /* background of application content or documents */
  --c-canvas-highlight: var(--c-light-periwrinkle);
  --c-canvas-text: var(--c-light-text);
  --c-link-active-text: ;
  --c-link-hover-text: ;
  --c-input-bg: var(--c-light-ghostwhite);
  --c-input-border: var(--c-light-periwrinkle);
  --c-succes: var(--c-light-tiffanyblue);
  --c-danger: var(--c-light-brightpink);
  --c-transparent: hsl(0, 0%, 0%, 0%);
}

main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  background-color: var(--c-bg);
  min-height: 100vh;
}

fieldset {
    border: none;
}

.hidden {
  visibility: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexinput {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
}

.header {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.span-header {
  grid-column: 1 / -1;
}

.center-paragraph {
    text-align: center;
    font-weight: bold;
}

.text-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 20%;
}
