body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    color: white;
    background: black;
}

img {
    max-width: 50%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}