* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100vh;
    background-color: #B7E1F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2.5rem;
    background-color: #ffffffc7;
    border-radius: 15px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}