*{
    margin: 0;
}

body {
    height: 100vh;
    background-color: #FCF5EC;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #2196F3;
    width: 100%;
    max-width: 700px;
    
    margin: auto;

    box-shadow: #000;
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    background-color: #2196F3;
    width: 60%;
    padding: 0;
}

nav li {
    width: 100%;
    background-color: #2196F3;
}

nav  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover{
    background-color: #0a89f1;
}

.active {
    background-color: #1976D2;
}