h1  {
    color: var(--header-font-color);
    font-family: var(--header-font-family);
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin:  0 15% 4rem;
}

header p{
    line-height: 40px;
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4rem;
    margin: 1rem 1rem 8rem;
}

nav a {
    color: var(--default-text-color);
    font-size: larger;
    font-weight: 100;
}

nav a:hover {
    color: var(--header-font-color);
    text-decoration: underline;
}



