h1 {
  color: var(--header-font-color);
  font-family: var(--header-font-family);
}

header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header p {
  line-height: 40px;
  font-weight: 200;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1rem 8rem;
}

nav li {
  min-width: 85px;
  list-style: none;
  
}

nav a {
  display: flex;
  justify-content: center;
  color: var(--default-text-color);
  font-size: larger;
  font-weight: 100;
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
  
}

nav a:hover {
  color: var(--header-font-color);
  background-color: #f5f4f7;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  transform: translateY(-2px)
}

.active-nav{
  background-color: var(--header-font-color);
  color: #f5f4f7;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.container-site-width {
    
  margin: 0 15% 4rem;
}

#thank-you-page {
  gap: 1rem;

  & h2 {
    color: rgb(20, 20, 20);
  }
}



@media (width > 1024px) {
  .container-site-width {
    margin: 0 25% 4rem;
  }
}

@media (width < 624px) {
  h1 {
    font-size: 2.5rem;
  }

  nav ul {
    gap: 0.5rem;
  }

  nav li{
    min-width: 65px;
    
  }

  nav a {
    font-size: smaller;
    padding: 0rem 0.2rem;
  }
}




