.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.break-line {
  width: 4rem;
  height: 0.5rem;
  background-color: var(--header-font-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;

  width: 100%;
  margin: 1rem 0;
  padding: 2.5rem;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card h3 {
  line-height: 38px;
  font-size: 1.8rem;
  font-weight: 500;
}

.card p {
  font-weight: 100;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card li {
  list-style: none;
  border-radius: 10px;
  border: 3px #92eac0 solid;
  padding: 0.1rem 0.5rem;
}

.card-buttons {
  display: flex;
  flex-wrap: wrap;
}

.card-buttons a {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  align-self: center;
  border-radius: 4px;
  padding: 0.7rem 0.7rem;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 1rem;
  margin-top: 1rem;

  min-width: 150px;
}

.card-buttons a:nth-child(1) {
  background-color: var(--header-font-color);
  color: #fff;
}

.card-buttons a:nth-child(2) {
  background-color: #fff;
  color: var(--header-font-color);
}

.card-buttons a:nth-child(1):hover {
  background-color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-buttons a:nth-child(2):hover {
  color: var(--hover-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
