* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-c-d: #264653;
    --header-c-d: #e6e1a8;
    --board-bg-c-d: #dfdfdf79; 
    --border-c-d: #dddadab7;

    --b1-c: #a1c181;
    --b4-c: #2c7da0;
    --b2-c: #fe7f2d;
    --b3-c: #fcca46;

    --b-start-c: #8B0000;
    --b-start-border-c: #C6A667;

    --font-color: #dddcd6;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;

    background-color: var(--bg-c-d);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 800px;
}

#board {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    background-color: var(--board-bg-c-d);
    padding: 2rem;
    border-radius: 30px;
    border: 4px solid var(--border-c-d);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box {
    min-width: 200px;
    min-height: 200px;
    background-color: aqua;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &:hover {
        transform: translateY(3px);
    }

    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

#b1{background-color: var(--b1-c);}
#b2{background-color: var(--b2-c);}
#b3{background-color: var(--b3-c);}
#b4{background-color: var(--b4-c);}

#start{
    font: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    background-color: var(--b-start-c);
    border: 2px solid var(--b-start-border-c);
    color: var(--b-start-border-c);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &:active {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        transform: translateY(3px);
    }
}

#title-board {
    padding: 2rem 8rem;
    color: var(--b-start-border-c);
    background-color: var(--b-start-c);
    border-radius: 30px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#title-board::after, 
#title-board::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),var(--b-start-border-c), #6d4907 , var(--b-start-border-c));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 40px;
    animation: 3s spin linear infinite;
}

#title-board::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle:0deg;
    }
    to {
        --angle:360deg;
    }
}


h1 {
    font-size: 4rem;
  position: relative;
  display: inline-block;
  color: var(--b-start-border-c);
  background: linear-gradient(
    to right, 
    var(--b-start-border-c) 0%, 
    var(--b-start-border-c) 20%, 
    #ffd700 40%, 
    var(--b-start-border-c) 60%, 
    var(--b-start-border-c) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

h2 {
    color: var(--font-color);
}

.glow {
  filter: brightness(1.5);
  box-shadow: 0 0 25px #fff;
}

.gameover {
    background-color: #ff4d4d;
    transition: background-color 0.2s;
}

.hidden{
    visibility: hidden;
}

#leaderboard{
    position: relative;
    height: 370px;
    max-width: 300px;
}

#leaderboard-list{
    margin-left: 3rem;
    font-size: 2rem;
    color: var(--font-color);
    list-style: none;
}

#leaderboard-list li:first-child{
    color: gold;
}

#description {
    margin-bottom: 2rem;
    text-wrap: wrap;
    color: var(--font-color);
}

h3 {
    color: var(--font-color);
    font-size: 3rem;
}