@font-face {
    font-family: "FiraMonoNerd";
    src: url("../fonts/FiraMonoNerdFontMono-Regular.otf") format("truetype");
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --bg-c: #3C3C3C;
}

body{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 2rem;
    background-color: var(--bg-c);
    height: 100vh;
    width: 100vw;
    font-family: "FiraMonoNerd", monospace;
    user-select: none;
}

#side-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1em 2em;
}

#main-view{
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%
}

#main-btn-border{
    background-color: #969696;
    width: 600px;
    height: 100px;
    border-radius: 30px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#main-btn {
    background-color: rgb(233, 95, 95);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-bottom: 6px solid rgb(134, 83, 83);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    color: #fff;

    &:active{
        border-bottom: none;
        border-top: 3px solid #b3b3b3;
    }
}

#main-btn.button-active {
    border-bottom: none;
    border-top: 3px solid #b3b3b3;
}


.center {
display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

h1,h2,h3{
    user-select: none;
}

h1{
    color: #f8f8f2;
    font-size: 4rem;
}

h2{
    color: #50fa7b;
}






